input [type = submit] {
	border: none;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: yellow;
	color: black;
	border: 5px solid black;
}

input:hover [type = submit] {
	background-color: black;
	color: yellow;
	border: 5px solid yellow;
}

.button {
	border: none;
	padding: 10px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.button1 {
	background-color: yellow;
	color: black;
	border: 5px solid black;
}

.button1:hover {
	background-color: black;
	color: yellow;
	border: 5px solid yellow;
}
